{% extends 'base.html.twig' %}

{% block title %}TeletravailForm index{% endblock %}

{% block body %}
    <h1>TeletravailForm index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NatureContrat</th>
                <th>Quotite</th>
                <th>AvisManager</th>
                <th>CommentaireManager</th>
                <th>AvisDRH</th>
                <th>CommentaireDRH</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teletravail_form in teletravail_forms %}
            <tr>
                <td>{{ teletravail_form.id }}</td>
                <td>{{ teletravail_form.natureContrat }}</td>
                <td>{{ teletravail_form.quotite }}</td>
                <td>{{ teletravail_form.avisManager ? 'Yes' : 'No' }}</td>
                <td>{{ teletravail_form.commentaireManager }}</td>
                <td>{{ teletravail_form.avisDRH ? 'Yes' : 'No' }}</td>
                <td>{{ teletravail_form.commentaireDRH }}</td>
                <td>
                    <a href="{{ path('app_teletravail_form_show', {'id': teletravail_form.id}) }}">show</a>
                    <a href="{{ path('app_teletravail_form_edit', {'id': teletravail_form.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_teletravail_form_new') }}">Create new</a>
{% endblock %}
