{% extends 'base.html.twig' %}

{% block title %}TeletravailForm{% endblock %}

{% block body %}
    <h1>TeletravailForm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ teletravail_form.id }}</td>
            </tr>
            <tr>
                <th>NatureContrat</th>
                <td>{{ teletravail_form.natureContrat }}</td>
            </tr>
            <tr>
                <th>Quotite</th>
                <td>{{ teletravail_form.quotite }}</td>
            </tr>
            <tr>
                <th>AvisManager</th>
                <td>{{ teletravail_form.avisManager ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CommentaireManager</th>
                <td>{{ teletravail_form.commentaireManager }}</td>
            </tr>
            <tr>
                <th>AvisDRH</th>
                <td>{{ teletravail_form.avisDRH ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CommentaireDRH</th>
                <td>{{ teletravail_form.commentaireDRH }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_teletravail_form_index') }}">back to list</a>

    <a href="{{ path('app_teletravail_form_edit', {'id': teletravail_form.id}) }}">edit</a>

    {{ include('teletravail_form/_delete_form.html.twig') }}
{% endblock %}
